BANK/
EDUCATION/
JOB/
Obsidian Vault - LOCAL BACKUP/
.DS_Store
.localized
ASSIGNMENT.sql
CTE (Common Table Expression).sql
Case-When .sql
GAAFH.sql
JOINS BIRTHDAY.sql
SubQueries.sql
Sumit_Kumar_resume.pdf
WDOLC.sql
Windows.sql
ZOMATO.sql
first_sql_script.sql
